/* common utilites */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: #FFF4E7;
    padding-bottom: 25px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    color: #131313;
}

/* top-nav */

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(240, 218, 218);
}

.logo h3{
    font-size: 1.5rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li{
    list-style-type: none;
    text-transform: capitalize;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* banner designs */

.banner{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.banner-title{
    font-size: 3rem;
    text-align: center;
    line-height: 50px;
}

.banner-description{
    color: #727272;
    font-size: 1em;
    text-align: center;
    width: 85%;
}

.btn{
    text-align: center;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #FFF4E7;
    background-color: #FF900E;
    text-transform: capitalize;
    margin: 0 auto;
    cursor: pointer;
}

.banner img{
    width: 100%;
}

/* quick-list section designs */

.quick-list{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quick-list > div{
    flex: 1;
}

/* quick4-images designs */

.quick4-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 25px;
}

.quick4-images img{
    width: 100%;
}

/* quick-content  designs*/
.quick-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 25px;
    width: 100%;
}

.quick-content h1{
    color: #FF900E;
    font-size: 1.9rem;
    font-weight: 800;
}

.qltext{
    color: #727272;
    font-weight: 500;
}

.ofOtxt{
    color: #131313;
}

.quick-content-description{
    font-size: 0.8em;
    color: #727272;
}

.quick-content-btn{
    background-color: #FF900E;
    border: 0;
    color: #FFF4E7;
    padding: 12px 15px;
    margin-left: 0px;
    width: 120px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    
}

/* features designs */
.features{
    margin-top: 60px;
    display: flex;
    gap: 80px;
    padding: 20px;
    position: relative;
}

.features > div{
    flex: 1;
}

.feature-contents{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-title{
    font-size: 2.5rem;
    color: #131313;
    border-left: 5px solid #FF900E;
    margin-bottom: 30px;
    padding: 5px 10px;
}

.feature-description{
    font-size: 0.8em;
    color: #727272;
}


.feature-thumbnail img{
    width: 100%;
}

.sub-features{
    padding: 10px 0px 10px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 16px -4px #c3c3c3;
}

.sub-features-title{
    font-size: 1rem;
    margin-bottom: 12px;
}

.sub-features-description{
    font-size: 0.8em;
    color: #727272;
}

.experience-btn{
    position: absolute;
    top: 90%;
    left: 62%;
    transform: translate(-50%, -50%);
    border: none;
    font-size: 2.5rem;
    font-weight: 900;
    background-color: #FF900E;
    color: white;
    padding: 20px 30px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.experience-btn-design{
    font-size: 20px;
    font-weight: normal;
}


/* some-fact design */
.some-fact{
    margin-top: 60px;
}

.some-fact-content{
    margin-bottom: 30px;
    width: 54%;
}

.some-fact-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.some-fact-description{
    font-size: 0.8em;
    color: #727272;
}

.SomeFactAllBoxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.SomeFactSingleBoxes{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
    border-radius: 5px;
    height: 120px;
    width: 120px;
}

.box-digit{
    font-weight: 700;
    font-size: 2.5rem;
    color: #424242;
}

.box-description{
    color: #202020;
    font-weight: 500;
}

.SomeFactSingleBoxes:hover{
    transform: rotate(360deg);
    transition: 0.8s;
    border-radius: 50%;
    background-color: #eeebe6;
    border-color: #131313;
}

/* gallery section designs */

.gallery{
    margin-top: 60px;
}

.gallery h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    padding-bottom: 10px;
    width: 287px;
    margin: 20px auto;
}

.GalleryAllBoxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.GallerySingleBoxes img{
    width: 100%;
    padding-bottom: 5px;
    border-radius: 5px;
}

.GallerySingleBoxes{
    border: 1px solid rgb(240, 232, 232);
    padding: 20px;
    box-shadow: 0px 0px 16px -4px #c3c3c3;
    border-radius: 5px;
}

.GallerySingleBoxes h4{
    color: #202020;
    padding-bottom: 5px;
}

.GallerySingleBoxes p{
    color: #727272;
    padding-bottom: 5px;
}

.GallerySingleBoxes:hover{
    transform: rotate(2deg);
}

/* responsive designs for mobile*/
@media screen and (max-width: 576px) {
    
    .container{
        overflow: hidden;
    }
    .top-nav{
        flex-direction: column;
        border: none;
        gap: 30px;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    .banner {
        align-items: center;
    }

    .banner img{
        width: 100%;
    }
    
    .quick-list{
        flex-direction: column;
    }
    .quick4-images{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 10px;
        align-items: center;
    }

    .single-boxes{
        width: 100%;
    }

    .single-boxes img{
        width: 100%;
    }

    .quick-content{
        padding: 15px 0;
        width: 85%;
    }

    .features{
        flex-direction: column;
        gap: 40px;
        position: relative;
    }

    .experience-btn{
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 25px;
        margin-top: 5px;
        font-size: 1.5rem;
        line-height: 10px;
        cursor: pointer;
        
    }
    .experience-btn-design{
        font-size: 0.8rem;
    }
    .some-fact-content{
        width: 90%;
        padding: 15px 20px;
    }
    .SomeFactAllBoxes{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .GalleryAllBoxes{
        grid-template-columns: repeat(1, 1fr);
    }
}